.row {
    width: 100%;
}

.row:after {
    clear: both;
}

.row [class^="col"] {
    width: 100%;
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row [class^="col"]:first-child {
    margin-left: 0;
}

.row .col1 {
    width: 6.34058%;
    margin-left: 2.17391%;
}

.row .col2 {
    width: 14.85507%;
    margin-left: 2.17391%;
}

.row .col3 {
    width: 23.36957%;
    margin-left: 2.17391%;
}

.row .col4 {
    width: 31.88406%;
    margin-left: 2.17391%;
}

.row .col5 {
    width: 40.39855%;
    margin-left: 2.17391%;
}

.row .col6 {
    width: 48.91304%;
    margin-left: 2.17391%;
}

.row .col7 {
    width: 57.42754%;
    margin-left: 2.17391%;
}

.row .col8 {
    width: 65.94203%;
    margin-left: 2.17391%;
}

.row .col9 {
    width: 74.45652%;
    margin-left: 2.17391%;
}

.row .col10 {
    width: 82.97101%;
    margin-left: 2.17391%;
}

.row .col11 {
    width: 91.48551%;
    margin-left: 2.17391%;
}

.row .col12 {
    width: 100%;
}

.row .first {
    margin-left: 0;
}

.row .col0 {
    display: none;
}

@media (max-width: 599px) {
    .row [class^="col-small"] {
        width: 100%;
        display: block;
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .row [class^="col-small"]:first-child {
        margin-left: 0;
    }

    .row .col1-small {
        width: 6.34058%;
        margin-left: 2.17391%;
    }

    .row .col2-small {
        width: 14.85507%;
        margin-left: 2.17391%;
    }

    .row .col3-small {
        width: 23.36957%;
        margin-left: 2.17391%;
    }

    .row .col4-small {
        width: 31.88406%;
        margin-left: 2.17391%;
    }

    .row .col5-small {
        width: 40.39855%;
        margin-left: 2.17391%;
    }

    .row .col6-small {
        width: 48.91304%;
        margin-left: 2.17391%;
    }

    .row .col7-small {
        width: 57.42754%;
        margin-left: 2.17391%;
    }

    .row .col8-small {
        width: 65.94203%;
        margin-left: 2.17391%;
    }

    .row .col9-small {
        width: 74.45652%;
        margin-left: 2.17391%;
    }

    .row .col10-small {
        width: 82.97101%;
        margin-left: 2.17391%;
    }

    .row .col11-small {
        width: 91.48551%;
        margin-left: 2.17391%;
    }

    .row .col12-small {
        width: 100%;
    }

    .row .first-small {
        margin-left: 0;
    }

    .row .col0-small {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .row [class^="col-medium"] {
        width: 100%;
        display: block;
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .row [class^="col-medium"]:first-child {
        margin-left: 0;
    }

    .row .col1-medium {
        width: 6.34058%;
        margin-left: 2.17391%;
    }

    .row .col2-medium {
        width: 14.85507%;
        margin-left: 2.17391%;
    }

    .row .col3-medium {
        width: 23.36957%;
        margin-left: 2.17391%;
    }

    .row .col4-medium {
        width: 31.88406%;
        margin-left: 2.17391%;
    }

    .row .col5-medium {
        width: 40.39855%;
        margin-left: 2.17391%;
    }

    .row .col6-medium {
        width: 48.91304%;
        margin-left: 2.17391%;
    }

    .row .col7-medium {
        width: 57.42754%;
        margin-left: 2.17391%;
    }

    .row .col8-medium {
        width: 65.94203%;
        margin-left: 2.17391%;
    }

    .row .col9-medium {
        width: 74.45652%;
        margin-left: 2.17391%;
    }

    .row .col10-medium {
        width: 82.97101%;
        margin-left: 2.17391%;
    }

    .row .col11-medium {
        width: 91.48551%;
        margin-left: 2.17391%;
    }

    .row .col12-medium {
        width: 100%;
    }

    .row .first-medium {
        margin-left: 0;
    }

    .row .col0-medium {
        display: none;
    }
}

@media (min-width: 801px) {
    .row [class^="col-large"] {
        width: 100%;
        display: block;
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .row [class^="col-large"]:first-child {
        margin-left: 0;
    }

    .row .col1-large {
        width: 6.34058%;
        margin-left: 2.17391%;
    }

    .row .col2-large {
        width: 14.85507%;
        margin-left: 2.17391%;
    }

    .row .col3-large {
        width: 23.36957%;
        margin-left: 2.17391%;
    }

    .row .col4-large {
        width: 31.88406%;
        margin-left: 2.17391%;
    }

    .row .col5-large {
        width: 40.39855%;
        margin-left: 2.17391%;
    }

    .row .col6-large {
        width: 48.91304%;
        margin-left: 2.17391%;
    }

    .row .col7-large {
        width: 57.42754%;
        margin-left: 2.17391%;
    }

    .row .col8-large {
        width: 65.94203%;
        margin-left: 2.17391%;
    }

    .row .col9-large {
        width: 74.45652%;
        margin-left: 2.17391%;
    }

    .row .col10-large {
        width: 82.97101%;
        margin-left: 2.17391%;
    }

    .row .col11-large {
        width: 91.48551%;
        margin-left: 2.17391%;
    }

    .row .col12-large {
        width: 100%;
    }

    .row .first-large {
        margin-left: 0;
    }

    .row .col0-large {
        display: none;
    }
}

h