html {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    scroll-behavior: smooth;

}

h1 {
    font-size: 50px;
}

body {
    width: 1140px;
    display: inline-block;
}

p {
    font-size: 14px;
    line-height: 200%;
    color: #7e7e7e;
}

.navbar {
    height: 100px;
}

.topnav {
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: inline-block;
    transition: all 0.4s ease;

}

.topnav a, li {
    height: 100%;
    display: inline-block;
    color: #323232;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 15px;
    margin: 0px;
}

.topnav ul {
    float: right;
}

.topnav .logo {
    float: left;
    vertical-align: center;
}

.topnav ul a:hover {
    background-color: #ddd;
    color: #191919;
}

.topnav a.active {
    background-color: #d6b161;
    color: white;
}

.menu-fixed {
    z-index: 1000;
    position: fixed;
    top: 0;
    max-width: 1140px;

}

.banner-section {
    margin: 40px 0px;
}

.background-section {
    height: 600px;
    width: auto;
    max-width: 100%;
    max-height: 600px;
    padding-top: 100px;
}

.background-footer {
    height: 50px;
    width: auto;
    max-width: 100%;
    max-height: 600px;
    padding: 5px;
}

.image-resize-height {
    width: 100%;
    height: auto;
}

.image-01 {
    background-image: url("../src/bg-01-1920x1000.jpg");
    color: #323232;
    height: 400px;

}

.image-02 {
    background-image: url("../src/bg-02-1920x1000.jpg");
    color: white;

}

.image-03 {
    background-image: url("../src/md-01-image.jpg");
    width: 100%;
    height: auto;
    display: block;
}

.background-grey-light {
    background: #f5f5f5;
    color: #323232;
}

.background-grey-dark {
    background: #1b1b1b;
    color: white;
}

.background-white-light-transparent {
    background-color: rgba(255, 255, 255, 0.6);
    height: 200px;
}

.font-black {
    color: #323232;
}

.font-white {
    color: white;
}

.font-grey {
    color: #7e7e7e;
}

.no-margin {
    margin: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-light {
    margin: 20px;
}

.vertical-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-bold {
    font-weight: bolder;
}

.text-align-left {
    text-align: left;
}

.list-item-padding-light {
    padding: 0px 10px;
    display: block;
    font-size: 16px;
}

 .font-small {
    font-size: 12px;
    font-style: italic;
}